*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(217, 217, 217);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 80px;
    padding: 5px 30px;
    overflow: hidden;
    background-color: rgb(215, 206, 179);
    font-family: Arial, sans-serif;
}

.navbar a{
    margin: 5px;
    text-decoration: none;
    color: rgb(79, 78, 78);
    font-weight: bold;
    font-size: 15px;
    padding: 0px 0px;
    transition: color 0.2s;
}

a:hover{
    color: black;
}

.cover{
    text-align: center;
    color: rgb(186, 213, 255);
    font-weight: bold;
    position: absolute;
    top: 70;
    display: block;
    margin-left: 250px;
    margin-right: 250px;
    padding: 20px;
}

.opt{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 20px 150px;
}

.opt button{
    height: 100px;
    width: 100px;
    border: none;
    background-color: rgb(199, 218, 224);
    border-radius: 10px;
    transition: background-color 0.3s ;
}

button:hover{
    background-color: rgb(143, 185, 204);
    cursor: pointer;
}

.head{
    display: flex;
    justify-content: center;
    background-color: rgba(117, 83, 83, 0.322);
    border-radius: 10px;
    margin: 15px 15px;
    padding: 15px;
}

.head img{
    width: 100%;
    position: relative;
    height: 200px;
    object-fit: cover;
    object-position: 0px -230px;
    border-radius: 10px;
    filter: brightness(70%);
}

.P-booking{
    background-color: rgba(117, 83, 83, 0.322);
    border-radius: 10px;
    margin: 15px 15px;
    padding: 15px;
}

.row{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 10px;
    border-radius: 10px;
    justify-content: left;
}

.row img{
    height: 200px;
    width: 350px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    filter: brightness(100%);
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(12, 12, 12, 0.511);
  display: none;
  z-index: 10;
}

#bookingpg{
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 400px;
  padding: 20px;
  border-radius: 8px;
  display: none;
  z-index: 11;
}

#bookingpg h2{
  text-align: center;
  margin-bottom: 20px;
}

#bookingpg label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

#bookingpg input,#bookingpg textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

#bookingpg input[type="date"] {
    padding: 6px;
    border: none;
    border-bottom: 2px solid #1a4d4f;
}

#bookingpg textarea {
  resize: none;
  height: 80px;
}

.buttons {
  margin-top: 15px;
  text-align: right;
}

.cancel {
  background: #ccc;
  padding: 8px 12px;
}

.submit {
  background: #4CAF50;
  color: white;
  padding: 8px 12px;
}

button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#status{
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
}