*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(217, 217, 217);
}

.intro{
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

.homeimg img{
    object-fit: cover;
    object-position: center;
    filter: brightness(85%);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 80px;
    padding: 5px 30px;
    overflow: hidden;
    background-color: #6298d0;
    font-family: Arial, sans-serif;
}

.navbar a{
    margin: 5px;
    text-decoration: none;
    color: rgb(79, 78, 78);
    font-weight: bold;
    font-size: 15px;
    padding: 0px 0px;
    transition: color 0.2s;
}

a:hover{
    color: black;
}

.introtxt{
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    top: 100px;
    font-size: 70px;
}

.parag{
    position: static;
    width: auto;
    display: block;
    font-size: 12px;
    top: 800;
    text-align: center;
    line-height: 1.8;
    color: rgb(255, 255, 255);
    background-color: #2d24178b;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}


.spotlight{
    height: 240px;
    width: auto;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: #555;
    padding: 5px;
    background-color: rgba(117, 83, 83, 0.322);
    margin: 20px;
    border-radius: 10px;
}

.col p{
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

img{
    max-width: 100%;
    height: auto;
}


.row1{
    height: 200px;
    width: 700px;
    display: flex;
    justify-content: left;
    gap: 50px;
    margin: 15px 15px;
    align-items: center;
    border-radius: 10px;
    overflow : hidden;
    background-color: rgb(233, 215, 195);
}

.img img{
    height: 250px;
    width: 300px;
    min-width: 100;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.timing{
    background-color: rgba(117, 83, 83, 0.322);
    align-items: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow : hidden;
    padding: 10px;
    font-size: 20px;
    max-height: 300px;
    min-width: 400px;
}

.schedule{
    display: flex;
    justify-content: space-around;
    gap: 100px;
    background-color: rgb(233, 215, 195);
    overflow : hidden;
    border-radius: 10px;
    padding: 10px;
    line-height: 2;
    font-size: 17px;
}

.perunnal{
    width: auto;
    height: auto;
    background-color: rgba(117, 83, 83, 0.322);
    border-radius: 10px;
    margin: 15px 15px;
}

.row{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 15px 20px 30px 15px;
    border-radius: 10px;
    justify-content: left;
}

.row img{
    height: 400px;
    width: 350px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
